.shop-edit {

}

label {
  color: black;
  text-transform: none;
  margin-top: 1rem;
  font-size: 2rem;
  margin-bottom: .5rem;
}

.input {
  font-family: 'Unbounded', cursive;
  padding: .25rem 1rem; 
}

.button {
  font-size: 1.5rem;
  margin-top: 2rem;
  background: none;
  border-radius: .4rem;
  cursor: pointer;
}