.shop-create {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: green;
  border-radius: .4rem;
  box-shadow: 0 0 .3rem black;
  border: 1px solid rgb(0, 0, 0);
}

form{
  display: flex;
  flex-direction: column;
}

.shop-create h1{
  text-transform: uppercase;
}
@media screen and (max-width: 900px) {
  .shop-create h1{
    font-size: 2rem;
  }
}

.shop-create label {
  font-size: 2rem;
  color: white;
}
@media screen and (max-width: 900px) {
  .shop-create label {
    font-size: 1.75rem;
  }
}

.input{
  margin-bottom: .5rem;
  height: 2.5rem;
  border-radius: .4rem;
}

.shop-create label,
.input {
  margin-bottom: 1.5rem;
}

.shop-create .button{
  max-width: 33%;
  font-size: 2.5rem;
  padding: .5rem;
  border-radius: .4rem;
  cursor: pointer;
  background-color: white;
}

@media screen and (max-width: 900px) {
  .shop-create .button {
    font-size: 1.75rem;
    max-width: 20%;
  }
}
